.worktrees/
.env
vendor/
node_modules/
public/storage
storage/*.key
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*
.phpunit.result.cache
.env.backup
.env.production
php_errors.log
/public/hot
/public/storage
/storage/*.key
/vendor
.idea
.vscode
.DS_Store
